.table{
    margin-top: 60px;
    margin-bottom: 20px;
    width:90%;
    margin-left: 80px;
}

.add_user{
    margin-left: 80px;
    margin-top: 20px
}
.add_item{

    margin-left: 20px;
    margin-top: 20px;
}

